* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: burlywood;
}

nav {
  display: flex;
}

button {
  flex: 1;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background: bisque;
  border: 4px solid brown;
}

button:hover {
  color: brown;
  cursor: pointer;
}

div#content {
  height: 85vh;
  margin: auto;
  display: flex;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  max-width: fit-content;
  flex-direction: column;
  justify-content: center;
}

.decoration {
  gap: 10px;
  margin: auto;
  padding: 1rem;
  display: flex;
  font-size: 2rem;
  max-width: 600px;
  width: fit-content;
  align-items: center;
  background: bisque;
  flex-direction: column;
  border: 4px solid brown;
}

.decoration img {
  width: 100%;
}

div.text {
  font-size: 1.5rem;
}