* {
  margin: 0;
  padding: 0;
}

body {
  background: burlywood;
}

nav {
  display: flex;
}

button {
  flex: 1;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background: bisque;
  border: 5px solid brown;
}

button:hover {
  color: brown;
  cursor: pointer;
}

div#content {
  gap: 1rem;
  margin: 2rem 5%;
  padding: 2rem;
  display: flex;
  background: bisque;
  flex-direction: column;
  justify-content: center;
  border: 5px solid brown;
}

#content div {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}